/WSProfessor/build/
/WSProfessor/dist/
/WSProfessor/nbproject/private/
/2019.01_Professores-WebService/build/
/2019.01_Professores-WebService/dist/
/2019.01_Professores-WebService/nbproject/private/
/2019.01_Professores-WS-DAO/build/
/2019.01_Professores-WS-DAO/dist/
/2019.01_Professores-WS-DAO/nbproject/private/
/2019.01-3J-Filmes/nbproject/private/
/2019.01-3J-Filmes/build/
/2019.01_3K_Bancos/build/